* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: #fce138;
}
header nav {
    float: right;
    margin: 7px 0px;
}
header nav ul li {
    display: inline-flex;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid#fce138;
    padding: 0 80px 15px 80px;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}